<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RazzZ</title>
    <link rel="stylesheet" href="/styles/admins/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/admins/dashboard.css">
    <link rel="stylesheet" href="/styles/admins/home.css">
    <link rel="stylesheet" href="/styles/admins/new-user.css">
</head>
<body>

    <%- body%>

</body>
</html>